*{
    margin: 0;
}
body,html{
    height: 100%;
}

.parent{
    height: 100%;
    /* width: 100%; */
    background:rgb(201, 74, 74);
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse */
    /* flex-Direction:column-reverse */
    /* justify-content:center ; */
    justify-content: start;
    /* justify-content: end; */
    /* justify-content: space-between; */
    /* justify-content: space-around;  */
     /* justify-content: space-evenly;  */

     /* align-items: end;
     align-items: start;
     align-items: centre; */




     /* justify-content: center;
     align-items: center; */

}
.parent div{
    color:  white;
    height: 100px;
    width: 100px; 
}

.div-1{
     display: flex;
    justify-content: center;
     /* align-items: center;  */
     flex: 1;
     align-self: center; 

    background: cyan;
    margin-right: auto; 
    font-size: 100px;
}
.div-2{
     display: flex;
    justify-content: center;
     align-items: center;
     flex: 6; 
     align-self: start; 

    background:red;
    /* margin-left: auto; */
    font-size: 100px;
}
.div-3{
     display: flex;
    justify-content: center;
     align-items: center;
     flex: 6;
     align-self: end;

    background:darkmagenta;
    font-size: 100px;
}
.div-4{
     display: flex;
    justify-content: center;
     /* align-items: center;  */
     flex: 1;
     align-self: center;

    background:forestgreen;
    font-size: 100px;
}